name: ci-main

on:
  push:
    branches:
      - main

permissions:
  # required to login to AWS via OIDC...
  id-token: write
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build.yml

  deploy:
    needs: [build]
    uses: ./.github/workflows/deploy.yml
    with:
      environment: dev
