name: ci-pr

on:
  pull_request:
    branches:
      - main

permissions:
  # required to login to AWS via OIDC...
  id-token: write
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build.yml

  deploy:
    needs: [build]
    name: Deploy to pr-${{ github.event.pull_request.number }}
    uses: ./.github/workflows/deploy.yml
    with:
      environment: dev
      suffix: pr-${{ github.event.pull_request.number }}
