name: ci

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - main

permissions:
  # required to login to AWS via OIDC.
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ... build app .....

  deploy:
    needs: [build]
    if: github.ref_name == 'main' || github.base_ref == 'main'
    name: Deploy to dev ${{ github.ref != 'main' && 'pr-${{ github.event.pull_request.number }}' || '' }}
    uses: ./.github/workflows/deploy.yml
    with:
      environment: dev
      suffix: ${{ github.ref_name != 'main' && 'pr-${{ github.event.pull_request.number }}' || '' }}
