name: cleanup

run-name: Cleaning up PR ${{ github.event.pull_request.number }}

on:
  pull_request:
    branches:
      - main
    types: [closed]

# Ensure that it only runs if there are no more deployments to that env.
concurrency:
  group: deploy pr ${{ github.event.pull_request.number }}

jobs:
  terraform:
    runs-on: ubuntu-latest
    if: github.event.pull_request.base.ref == 'main'

    environment:
      name: pr

    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # - name: Setup Terraform
      #   uses: hashicorp/setup-terraform@v3
      #   with:
      #     terraform_version: "~> 1.0"

      # - name: Terraform fmt
      #   run: terraform fmt -check

      # - name: Terraform Init
      #   run: terraform init

      # - name: Terraform Validate
      #   run: terraform validate -no-color

      # - name: Terraform Apply
      #   run: terraform apply -auto-approve -input=false
