name: deploy

run-name: Deploy to ${{ inputs.environment }} ${{ inputs.suffix }}

on:
  # Enable manual trigger for the workflow.
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment for deployment."
        type: environment
        required: true
  # Allows this workflow to be called from other workflows, like ci.yml
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      suffix:
        type: string
        default: ""

# Ensure that only one deployment runs at a time on the target environment.
concurrency:
  group: ${{ github.workflow }} ${{ inputs.environment }} ${{ inputs.suffix }}

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
      # url: #TODO

    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # TODO: terraform
      # - name: Setup Terraform
      #   uses: hashicorp/setup-terraform@v3
      #   with:
      #     terraform_version: "~> 1.0"

      # - name: Terraform fmt
      #   run: terraform fmt -check

      # - name: Terraform Init
      #   run: terraform init

      # - name: Terraform Validate
      #   run: terraform validate -no-color

      # - name: Terraform Apply
      #   run: terraform apply -auto-approve -input=false
