name: deploy

run-name: Deploy to ${{ inputs.environment }} by @${{ github.actor }}

on:
  # Enable manual trigger for the workflow.
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment for deployment."
        type: environment
        required: true

# Ensure that only one deployment runs at a time on the target environment.
concurrency:
  group: ${{ github.workflow }}-${{ inputs.environment }}

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "~> 1.0"

      - name: Terraform fmt
        run: terraform fmt -check

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate -no-color

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false
