name: deploy

run-name: Deploy to ${{ inputs.deploy_target }} by @${{ github.actor }}

# concurrency:

on:
  workflow_dispatch:
    inputs:
      reference:
        description: "Git commit/branch/tag to deploy to the target environment."
        required: true
        type: string

jobs:
  terraform:
    runs-on: ubuntu-latest
    # environment:

    steps:
      - name: Debug
        run: |
          echo "test"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "~> 1.0"

      - name: Terraform fmt
        run: terraform fmt -check

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate -no-color

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false
